.messenger {
  height: 98vh;
  display: flex;
}

.chatMenu {
  flex: 2;
  border-right: 1px solid rgb(202 190 190)
}
.chatMenuWrapper {
  padding: 10px;
}
.chatMenuInput {
  width: 90%;
  padding: 10px 5px;
  border-radius: 3px;
  margin: 10px 0px;
  outline: none;
  border: 1px solid transparent;
}
.chatMenuInput:focus {
  border: 1px solid gray;
}

.chatBox {
  flex: 10;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-left: 10px;
}

.chatBoxTop {
  /* height: 100%; */
  overflow-y: scroll;
  padding-right: 10px;
  max-height: 83vh;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 92%;
  height: 90px;
  padding: 10px;
  resize: none;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  height: 100%;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox{
    flex: 10;
  }

  .chatOnline{
    flex: 1;
  }
}
.chatHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chatHeaderOwn {
  display: flex;
  align-items: center;
}
.chatLogOut {
  cursor: pointer;
}